// color
$main-color: #7F977B;
$sub-color: #6E7D60;
$third-color: #65895F;
$main-light: #A8B8A5;
$hash-tag: #BEA363;
$highlight: #E0DA48;
$main-font-color: #1E1E1E;
$sub-font-color: #2F2F2F;
$third-font-color: #646464;
$placeholder-color: #9E9E9E;
$more-info: #FF725E;